img {
  width: 100%;
}

.element-with-background{
  width: 100%;
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

[mimic-background-image-container]{
  border : 2px dotted #000;
}
