/* SOURCE: https://codepen.io/ErwanHesry/pen/JcvCw */
/* contain  */
div.contain {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-position: center;
}

img.contain {
  width: 100%;
  height: auto;
}


/* cover */
div.cover {
  position: absolute;
	top:0;
	left: 0;
	bottom:0;
	right:0;
  background-position: center;
	background-size: cover;
  width: 100%;
  height: 100%;
}

img.cover {
  position: absolute;
  width: 100%;
	top:0;
	left:0;
	height: auto;
  overflow-x: hidden;
}

.mimic-background-container{
  position: relative !important;
  overflow: hidden !important;
}
